Soham Jakapure
25070123110
EXP 4 - Study of Set in python

In [ ]:
set1={"apple","banana","cherry"}
print(set1)

{'apple', 'banana', 'cherry'}

In [ ]:
set2={2,2,5,True,"soham"}
print(set2)

{'soham', True, 2, 5}

In [ ]:
set3={"apple",2,True,1,"apple"}
print(set3)

{'apple', True, 2}

In [ ]:
set4={"apple","banana","cherry"}
add=set4.add("orange")
print(set4)

{'apple', 'banana', 'cherry', 'orange'}

In [ ]:
set5={"apple","banana","cherry"}
sub=set5.remove("banana")
print(set5)

{'apple', 'cherry'}

In [ ]:
set6={1,2,3,4}
set7=(3,4,5,6)
print(set6.union(set7))

{1, 2, 3, 4, 5, 6}

In [ ]:
set6={1,2,3,4}
set7=(3,4,5,6)
print(set6.union(set7))
print("intersection:", set6.intersection(set7))
print("difference:", set6.difference(set7))
print("symmetric difference:", set6.symmetric_difference(set7))
#print("dsimilar:",set6.dsimilar(set7))

{1, 2, 3, 4, 5, 6}
intersection: {3, 4}
difference: {1, 2}
symmetric difference: {1, 2, 5, 6}

In [ ]:
set8=frozenset({"apple","banana","cherry"})
print(set8)
print(type(set8))

frozenset({'apple', 'banana', 'cherry'})
<class 'frozenset'>

In [ ]:
#Problem 1
#A college event has a list of 10 students who registered multiple by mistake write a program using set to store participants name and display only unique participants
registered_students = [
    "Alice ", "Bob ", "Charlie", "David ", "Eve ",
    " Smith", " White", " Miller", "Johnson", "Green"
]

print(f"Original list of registered students (with potential duplicates):\n{registered_students}")
print(f"Total registrations: {(registered_students)}\n")

unique_participants = set(registered_students)

print(f"Unique participants for the event (after removing duplicates):\n{unique_participants}")
print(f"Total unique participants: {(unique_participants)}\n")

list_of_unique_participants = sorted(list(unique_participants))
print(f"Unique participants as a sorted list:\n{list_of_unique_participants}")

Original list of registered students (with potential duplicates):
['Alice ', 'Bob ', 'Charlie', 'David ', 'Eve ', ' Smith', ' White', ' Miller', 'Johnson', 'Green']
Total registrations: ['Alice ', 'Bob ', 'Charlie', 'David ', 'Eve ', ' Smith', ' White', ' Miller', 'Johnson', 'Green']

Unique participants for the event (after removing duplicates):
{'Eve ', 'Johnson', 'Green', ' Miller', 'Alice ', ' White', 'Bob ', 'David ', ' Smith', 'Charlie'}
Total unique participants: {'Eve ', 'Johnson', 'Green', ' Miller', 'Alice ', ' White', 'Bob ', 'David ', ' Smith', 'Charlie'}

Unique participants as a sorted list:
[' Miller', ' Smith', ' White', 'Alice ', 'Bob ', 'Charlie', 'David ', 'Eve ', 'Green', 'Johnson']

In [ ]:
#Problem 2
#three students choose elcectibe subjects find the common subjects chosen by all studentws using set operation concept used: set intersection (&)'''
student1 = {"Mathematics", "Physics", "Chemistry", "Computer Science"}

student2 = {"Physics", "Biology", "Computer Science", "English"}

student3 = {"Chemistry", "Computer Science", "Mathematics", "History"}

print(f"Student 1: {student1}")
print(f"Student 2: {student2}")
print(f"Student 3: {student3}\n")

common_subjects = student1 & student2 & student3

print(f"Common subjects chosen by all three students: {common_subjects}")

Student 1: {'Chemistry', 'Mathematics', 'Physics', 'Computer Science'}
Student 2: {'Computer Science', 'Biology', 'English', 'Physics'}
Student 3: {'Chemistry', 'Computer Science', 'Mathematics', 'History'}

Common subjects chosen by all three students: {'Computer Science'}

In [ ]:
#problem 3
#one set contains students in the cricket club another in the football club find students who are :1 in both clubs 2. in only one club concept used: intersection,symmetric difference cricket={"amit","rahul","sneha)
cricket_club = {"amit", "rahul", "sneha"}
football_club = {"rahul", "karan", "pooja"}

print(f"Cricket Club Members: {cricket_club}")
print(f"Football Club Members: {football_club}\n")

# 1. Students in both clubs (Intersection)
students_in_both = cricket_club & football_club
print(f"Students in both clubs (intersection): {students_in_both}")

# 2. Students in only one club (Symmetric Difference)
students_in_only_one = cricket_club ^ football_club
print(f"Students in only one club (symmetric difference): {students_in_only_one}")

Cricket Club Members: {'amit', 'sneha', 'rahul'}
Football Club Members: {'pooja', 'karan', 'rahul'}

Students in both clubs (intersection): {'rahul'}
Students in only one club (symmetric difference): {'pooja', 'amit', 'sneha', 'karan'}

In [ ]:
''' Problem Statement 4: Absent Students
Given a set of all students and a set of present
students, find the absent students'''
all_students = {"Alice", "Bob", "Charlie", "David", "Eve"}
present_students = {"Bob", "David"}

print(f"All Students: {all_students}")
print(f"Present Students: {present_students}\n")

absent_students = all_students - present_students

print(f"Absent Students: {absent_students}")

All Students: {'Charlie', 'Alice', 'Bob', 'Eve', 'David'}
Present Students: {'David', 'Bob'}

Absent Students: {'Charlie', 'Eve', 'Alice'}

In [ ]:
''' Problem 5: Remove the invalid entries.
A set contains valid course codes
Remove a discontinued course code from the set.
Concept used: remove()/discard()'''
valid_course_codes = {"CS101", "CS102", "CS103"}
discontinued_course_code = "CS102"

print(f"Valid Course Codes: {valid_course_codes}\n")
print(f"Discontinued Course Code: {discontinued_course_code}\n")

valid_course_codes.remove(discontinued_course_code)

print(f"Updated Valid Course Codes: {valid_course_codes}")

Valid Course Codes: {'CS103', 'CS101', 'CS102'}

Discontinued Course Code: CS102

Updated Valid Course Codes: {'CS103', 'CS101'}